<p class="text-center display-5">Cadastro Professor</p>




<div class="row">



  <div class="col-8 m-auto">



    <div class="mb-3">
<div class="display-6 text-center">
    </div>
  </div>

    <div class="mb-3">
      <label for="name" class="form-label">Nome Professor:</label>
      <input type="text" formControlName="name"    class="form-control" id="name" placeholder="Nome">
    </div>



    <div class="mb-3">
      <label for="email" class="form-label">Email Professor:</label>
      <input type="email" formControlName="email"   class="form-control" id="email" placeholder="Email">
    </div>



    <div class="mb-3">
      <label for="rg" class="form-label">Rg Professor:</label>
      <input type="text" formControlName="rg"   class="form-control" id="rg" placeholder="Rg">
    </div>

    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone Professor:</label>
      <input type="text" formControlName="telefone"   class="form-control" id="telefone" placeholder="Telefone">
    </div>



    <div class="mb-3">
    <button class="btn btn-primary me-1">Salvar</button>
    <button class="btn btn-secondary me-1">Voltar</button>

  </div>



