
<br><br>

<p class="text-center display-5">Tabela Professor</p>

<form class="text-center" >

  <div>
    <button class="btn btn-primary" (click)="create()" >Novo</button>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Id Professor</th>
        <th scope="col">Nome Professor</th>
        <th scope="col">Email Professor</th>
        <th scope="col">Rg Professor</th>
        <th scope="col">Telefone Professor</th>

      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let dados of professor" >
          <th scope="row">{{dados.id}}</th>
          <td>{{dados.name}} </td>
          <td>{{dados.email}}</td>
          <td>{{dados.rg}}</td>
          <td>{{dados.telefone}}</td>

          <button class="btn btn-primary me-1"(click)="edit(dados)" >Editar</button>
          <button class="btn btn-primary" (click)="delete(dados)">Excluir</button>

    </tbody>
  </table>
</div>
</form>

