
<p class="text-center display-5">Tabela Aluno</p>



<form  >

  <div class="text-center">
    <button class="btn btn-primary"  >Novo</button>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Id Aluno</th>
        <th scope="col">Nome Aluno</th>
        <th scope="col">Email Aluno</th>
        <th scope="col">Rg Aluno</th>
        <th scope="col">Telefone Aluno</th>


      </tr>
    </thead>
    <tbody>



        <button class="btn btn-primary me-1" >Editar</button>
        <button class="btn btn-primary" >Excluir</button>


    </tbody>
  </table>
</div>
</form>





<br><br>




<p class="text-center display-5">Tabela Professor</p>

<form class="text-center" >

  <div>
    <button class="btn btn-primary"  >Novo</button>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Id Professor</th>
        <th scope="col">Nome Professor</th>
        <th scope="col">Email Professor</th>
        <th scope="col">Rg Professor</th>
        <th scope="col">Telefone Professor</th>


      </tr>
    </thead>
    <tbody>



        <button class="btn btn-primary me-1" >Editar</button>
        <button class="btn btn-primary" >Excluir</button>


    </tbody>
  </table>
</div>
</form>

